<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragments/layout :: head('SkyFly')"></head>

<body class="background">

<div th:replace="fragments/layout :: navbar(rootPath='')"></div>

<div class="d-flex justify-content-center">
        <h1>Welcome to Sky Fly!</h1>
</div>


<!--shadow cia prideti reikia-->
<div class="container min-vh-50 py-2">
        <h5>Select place:</h5>
        <div class="d-flex  flex-column ">
                <select class="form-select w-50 m-2" aria-label="Default select example">
                        <option selected>Origin</option>
                        <option value="1">Vilnius</option>
                        <option value="2">Kaunas</option>
                        <option value="3">Klaipėda-Palanga</option>
                </select>
                <select class="form-select w-50 m-2" aria-label="Default select example">
                        <option selected>Destination</option>
                        <option value="1">London</option>
                        <option value="2">New Work</option>
                        <option value="3">Tokyo</option>
                </select>
        </div>
        <h5>Select date:</h5>
        <div class="row flex-column">
                <div class="col-lg-3 col-sm-4 m-2">
                        <label for="startDate">Departure</label>
                        <input id="startDate" class="form-control" type="date" />
                        <span id="startDateSelected"></span>
                </div>
                <div class="col-lg-3 col-sm-4 m-2">
                        <label for="endDate">Return</label>
                        <input id="endDate" class="form-control" type="date" />
                        <span id="endDateSelected"></span>
                </div>
        </div>
        <button class="btn btn-dark m-2" type="submit">Search</button>
</div>




</body>
</html>
