.background {
    background: linear-gradient(to right, #3494e6, #ec6ead);
    color: snow;
}
h1 {
    font-size: 3em;
}

.fa-paper-plane {
    margin-right: 5px;
    font-size: 25px;
}

.footer {
    background: #212529;
    color: #c6c5c5;
    padding: 10px;
    text-align: center;
}

.mainPlane {
    height: 100px;
    width: 100px;
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.origin-destination {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.age-group {
    color: snow;
}

@media (width: 768px) {
    
}