* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    background: linear-gradient(to right, #3494e6, #ec6ead);
    color: snow;
}

body {
    position: relative;
}

body::after {
    content: '';
    display: block;
}

section {
    margin-top: 200px;
    height: 140vh;
}

h1 {
    font-size: 3em;
}

.fa-paper-plane {
    margin-right: 5px;
    font-size: 25px;
    color: black;
}

.footer {
    background: rgb(251, 251, 251, 0.40);
    color: snow;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.mainPlane {
    height: 100px;
    width: 100px;
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.origin-destination {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.age-group {
    color: snow;
}
/*Custom navbar background*/
.navbar-default {
    background: rgb(251, 251, 251, 0.40);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);
}

.dropdown-item {
    color: rgb(255 255 255);
}
