<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragments/layout :: head('SkyFly')"></head>

<body class="background">

<div th:replace="fragments/layout :: navbar(rootPath='')"></div>

<section>
  <div class="d-flex justify-content-center">
    <h1>Let's Fly Somewhere!</h1>
  </div>

  <div class="origin-destination">
    <!-- ... -->
    <div class="mb-2 col-4">
      <label id="origin-label" for="origin-input" class="form-label">Origin</label>
      <div class="input-group">
        <span class="input-group-text"><i class="fa-solid fa-plane-departure"></i></span>
        <input
                type="text"
                class="form-control"
                list="origin-options"
                id="origin-input"
                placeholder="Location"
                aria-describedby="origin-label"
        />
        <datalist id="origin-options"></datalist>
      </div>
    </div>
    <!-- ... -->

    <div class="col-4">
      <label id="destination-label" for="destination-input" class="form-label">Destination</label>
      <div class="input-group ">
        <span class="input-group-text"><i class="fa-solid fa-plane-arrival"></i></span>
        <input
                type="text"
                class="form-control"
                list="destination-options"
                id="destination-input"
                placeholder="Location"
                aria-describedby="destination-label"
        />
        <datalist id="destination-options"></datalist>
      </div>
    </div>
    <!-- ... -->

    <!-- ... -->
    <div class="col-4">
      <div class="mb-2">
        <label id="flight-type-label" for="flight-type-select" class="form-label">Flight</label>
        <select
                id="flight-type-select"
                class="form-select"
                aria-describedby="flight-type-label"
        >
          <option value="one-way">One-way</option>
          <option value="round-trip">Round-trip</option>
        </select>
      </div>
      <div class="mb-2"></div>
      <div class="mb-2"></div>
    </div>
    <!-- ... -->

    <!-- ... -->
    <div class="mb-2 col-4">
      <label id="departure-date-label" for="departure-date-input" class="form-label"
      >Departure date</label
      >
      <div class="input-group">
        <span class="input-group-text"><i class="fa-solid fa-play"></i></span>
        <input
                type="date"
                class="form-control"
                id="departure-date-input"
                aria-describedby="departure-date-label"
        />
      </div>
    </div>
    <!-- ... -->

    <!-- ... -->
    <div id="return-date" class="mb-2 col-4">
      <label id="return-date-label" for="return-date-input" class="form-label"
      >Return date</label
      >
      <div class="input-group">
        <span class="input-group-text"><i class="fa-solid fa-stop"></i></span>
        <input
                type="date"
                class="form-control"
                id="return-date-input"
                aria-describedby="return-date-label"
        />
      </div>
    </div>
    <!-- ... -->


    <!-- ... -->
    <div class="col-4">
      <div class="mb-2">
        <label id="travel-class-label" for="travel-class-select" class="form-label"
        >Travel class</label
        >
        <select
                class="form-select"
                id="travel-class-select"
                aria-describedby="travel-class-label"
        >
          <option value="ECONOMY">Economy</option>
          <option value="PREMIUM_ECONOMY">Premium Economy</option>
          <option value="BUSINESS">Business</option>
          <option value="FIRST">First</option>
        </select>
      </div>
      <label class="form-label">Passengers</label>
      <div class="mb-2"></div>
      <div class="mb-2"></div>
      <div class="mb-2"></div>
    </div>
    <!-- ... -->


    <!-- ... -->
    <div class="mb-2 col-4">
      <div class="input-group">
        <label for="adults-input" class="input-group-text">Adults</label>
        <input
                type="number"
                min="0"
                class="form-control"
                id="adults-input"
                aria-describedby="adults-label"
        />
      </div>
      <span id="adults-label" class="form-text age-group">12 years old and older</span>
    </div>
    <!-- ... -->

    <!-- ... -->
    <div class="mb-2 col-4">
      <div class="input-group">
        <label for="children-input" class="input-group-text">Children</label>
        <input
                type="number"
                min="0"
                class="form-control"
                id="children-input"
                aria-describedby="children-label"
        />
      </div>
      <span id="children-label" class="form-text age-group">2 to 12 years old</span>
    </div>
    <div class="mb-2 col-4">
      <div class="input-group">
        <label for="infants-input" class="input-group-text">Infants</label>
        <input
                type="number"
                min="0"
                class="form-control"
                id="infants-input"
                aria-describedby="infants-label"
        />
      </div>
      <span id="infants-label" class="form-text age-group">Up to 2 years old</span>
    </div>
    <!-- ... -->


    <!-- ... -->
    <button id="search-button" class="btn btn-dark m-2">
      Search
    </button>
    <!-- ... -->
  </div>



</section>

<div th:replace="fragments/layout :: footer"></div>

</body>
</html>
