<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragments/layout :: head(#{welcome.title})"></head>

<body class="background">

<div th:replace="fragments/layout :: navbar(rootPath='')"></div>

<section>
    <form method="post" th:object="${product}">
    <div class="d-flex justify-content-center">
        <h1 th:text="#{flight.title}">!</h1>
    </div>
    <div class="origin-destination">
        <div class="mb-2 col-4">
            <label id="origin-label" for="origin-input" class="form-label" th:text="#{flight.origin}"></label>
            <div class="input-group">
                <span class="input-group-text"><i class="fa-solid fa-plane-departure"></i></span>
                <input
                        type="text"
                        class="form-control"
                        list="origin-options"
                        id="origin-input"
                        th:placeholder="#{flight.placeholder.departure}"
                        aria-describedby="origin-label"
                        th:field="*{origin}"/>
                <datalist id="origin-options"></datalist>
            </div>
        </div>
        <div class="col-4">
            <label id="destination-label" for="destination-input" class="form-label" th:text="#{flight.destination}"></label>
            <div class="input-group ">
                <span class="input-group-text"><i class="fa-solid fa-plane-arrival"></i></span>
                <input
                        type="text"
                        class="form-control"
                        list="destination-options"
                        id="destination-input"
                        th:placeholder="#{flight.placeholder.destination}"
                        aria-describedby="destination-label"
                        th:field="*{destination}"/>
                <datalist id="destination-options"></datalist>
            </div>
        </div>
        <div class="col-4">
            <div class="mb-2">
                <label id="flight-type-label" for="flight-type-select" class="form-label" th:text="#{flight.flight}"></label>
                <select
                        id="flight-type-select"
                        class="form-select"
                        aria-describedby="flight-type-label"
                >
                    <option value="one-way" th:text="#{flight.one.way}"></option>
                    <option value="round-trip" th:text="#{flight.round.trip}"></option>
                </select>
            </div>
            <div class="mb-2"></div>
            <div class="mb-2"></div>
        </div>
        <div class="mb-2 col-4">
            <label id="departure-date-label" for="departure-date-input" class="form-label" th:text="#{flight.departure}"></label>
            <div class="input-group">
                <span class="input-group-text"><i class="fa-solid fa-play"></i></span>
                <input
                        type="date"
                        class="form-control"
                        id="departure-date-input"
                        aria-describedby="departure-date-label"
                        th:field="*{departureDate}"/>
            </div>
        </div>
        <div id="return-date" class="mb-2 col-4">
            <label id="return-date-label" for="return-date-input" class="form-label" th:text="#{flight.return}"></label>
            <div class="input-group">
                <span class="input-group-text"><i class="fa-solid fa-stop"></i></span>
                <input
                        type="date"
                        class="form-control"
                        id="return-date-input"
                        aria-describedby="return-date-label"
                        th:field="*{returnDate}"/>
            </div>
        </div>
        <div class="col-4">
            <div class="mb-2">
                <label id="travel-class-label" for="travel-class-select" class="form-label" th:text="#{flight.travel.class}"></label>
                <select
                        class="form-select"
                        id="travel-class-select"
                        aria-describedby="travel-class-label"
                        th:field="*{travelClass}">
                    <option value="ECONOMY" th:text="#{flight.economy}">Economy</option>
                    <option value="PREMIUM_ECONOMY" th:text="#{flight.premium.economy}"></option>
                    <option value="BUSINESS" th:text="#{flight.business}"></option>
                    <option value="FIRST" th:text="#{flight.first}"></option>
                </select>
            </div>
            <label class="form-label" th:text="#{flight.passengers}"></label>
            <div class="mb-2"></div>
            <div class="mb-2"></div>
            <div class="mb-2"></div>
        </div>
        <div class="mb-2 col-4">
            <div class="input-group">
                <label for="adults-input" class="input-group-text" th:text="#{flight.adult}"></label>
                <input
                        type="number"
                        min="0"
                        class="form-control"
                        id="adults-input"
                        aria-describedby="adults-label"
                        th:field="*{adults}"/>
            </div>
            <span id="adults-label" class="form-text age-group" th:text="#{flight.twelve.plus}"></span>
        </div>
        <div class="mb-2 col-4">
            <div class="input-group">
                <label for="children-input" class="input-group-text" th:text="#{flight.children}"></label>
                <input
                        type="number"
                        min="0"
                        class="form-control"
                        id="children-input"
                        aria-describedby="children-label"
                        th:field="*{children}"/>
            </div>
            <span id="children-label" class="form-text age-group" th:text="#{flight.two.to.twelve}"></span>
        </div>
        <div class="mb-2 col-4">
            <div class="input-group">
                <label for="infants-input" class="input-group-text" th:text="#{flight.infants}"></label>
                <input
                        type="number"
                        min="0"
                        class="form-control"
                        id="infants-input"
                        aria-describedby="infants-label"
                        th:field="*{infants}"/>
            </div>
            <span id="infants-label" class="form-text age-group" th:text="#{flight.to.two}"></span>
        </div>
        <button id="search-button" type="submit" class="btn btn-dark m-2" th:text="#{flight.search}">Search</button>
    </div>
    </form>

    <div th:text="${message}"></div>
</section>

<div th:replace="fragments/layout :: footer"></div>

</body>
</html>
