<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragments/layout :: head(#{welcome.title})"></head>

<body class="background">

<div th:replace="fragments/layout :: navbar(rootPath='')"></div>



<section>
    <div th:if="${productList.isEmpty}">Product list is empty</div>
    <div th:unless="${productList.isEmpty}">
    <table class="table navbar-default ">
        <thead>
        <tr>
            <th scope="col" >Origin</th>
            <th scope="col">Destination</th>
            <th scope="col">Departure Date</th>
            <th scope="col">Return Date</th>
            <th scope="col">Travel Class</th>
            <th scope="col">Adults</th>
            <th scope="col">Childre</th>
            <th scope="col">Infants</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product: ${productList}">
            <td th:text="${product.origin}"></td>
            <td th:text="${product.destination}"></td>
            <td th:text="${product.departureDate}"></td>
            <td th:text="${product.returnDate}"></td>
            <td th:text="${product.travelClass}"></td>
            <td th:text="${product.adults}"></td>
            <td th:text="${product.children}"></td>
            <td th:text="${product.infants}"></td>
            <td><button type="button" class="btn btn-danger">Danger</button></td>
        </tr>
        </tbody>
    </table>
    </div>
</section>


<div th:replace="fragments/layout :: footer"></div>


</body>
</html>
